// import fonts
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

@import 'color_palette';

body {
  background: darken(rgb(56, 97, 140), 25),
  // background: rgb(66, 69, 84)
  
}

// h1 {
//   // align-items: start;
//   font-family: 'Orbitron', sans-serif;
//   displ
// }

.navBar {
  position: fixed;
  margin-top: 0;
  display: grid;
  align-content: space-around;
  align-items: center;
  top: 0;
  grid-template-columns: repeat(3, 1fr);
  height: 30px;
  width: 100%;
  // background-color: $purple;
  font-family: 'Orbitron', sans-serif;
  
}

.navLink {
  font-family: 'Orbitron', sans-serif;
  color: $green;
  background-color: darken($grey-blue, 25);
  box-shadow: none;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  // width: 100vh;
}

h2 {
  text-align: center;
  font-size: xxx-large;
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding-top: 20px;
  margin:50px;
  margin-bottom: 30px;
}

#game {
  align-content: center;
  justify-content: center;
}

#stats {
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  // width: 485px;
  height: 60px;
  // margin: 30px;
  // margin-bottom: 5px;
  background-color: $darkblue;
  // background-color: darken(rgb(37, 199, 240), 15);
  // background-color: rgb(0, 217, 192);

  box-shadow: inset 2px 2px 2px 0 darken($darkblue, 20), inset -2px -2px 2px 0 lighten($darkblue, 20);

  #timer {
    display: grid;
    font-family: 'Orbitron', sans-serif;
    color: white;
    // color: rgb(255, 0, 174);
    font-size:xx-large;
    text-align: left;
    align-items: right;
    // margin-left: 10px;
    // margin-top: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: inset 2px 2px 2px 0 lighten($blue, 20), inset -2px -2px 2px 0 darken($blue, 20);
    background-color: darken($grey-blue, 15);
    border-radius: 5px;
  }

  #smile {
    display: grid;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: darken($blue, 20);
    // color: rgb(255, 0, 174);
    font-size:xx-large;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0 lighten($blue, 20), inset -2px -2px 2px 0 darken($blue, 20);

    cursor: pointer;
    // margin-left: 10px;
    // margin-top: 5px;
  }

  #mineCount {
    display: grid;
    font-family: 'Orbitron', sans-serif;
    color: white;
    // color: rgb(255, 0, 174);
    font-size:xx-large;
    text-align: left;
    // margin-left: 10px;
    // margin-top: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: inset 2px 2px 2px 0 lighten($blue, 20), inset -2px -2px 2px 0 darken($blue, 20);
    background-color: darken($grey-blue, 15);
    border-radius: 5px;
  }
}

#grid {
  width: 500px;
  height: 500px;
  margin: 20px auto;
  padding: 0;
}

.hidden {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  // background-color: rgb(40,42,54);
  
  background-color: darken(rgb(56, 97, 140), 0);
  // background-color: (rgb(130, 148, 165));
  box-shadow: inset 2px 2px 2px 0 lighten(rgb(56, 97, 140), 30), inset -2px -2px 2px 0 darken(rgb(56, 97, 140), 30);
  border: 1px solid $blue;
  margin: 2px;
  // display: inline-block;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;

  cursor: pointer;

  &:hover {
    // background-color: rgb(255, 149, 0);
    // atomic tangerine
    background-color: rgb(255, 151, 112);
  }
}

.flagged {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  // background-color: rgb(40,42,54);
  
  background-color: darken(rgb(56, 97, 140), 0);
  // background-color: (rgb(130, 148, 165));
  box-shadow: inset 2px 2px 2px 0 lighten(rgb(56, 97, 140), 30), inset -2px -2px 2px 0 darken(rgb(56, 97, 140), 30);
  border: 1px solid rgb(37, 199, 240);
  margin: 2px;
  // display: inline-block;
  color: rgb(255, 114, 159);
  font-family: 'Orbitron', sans-serif;
  font-size: xx-large;

  cursor: pointer;

  // &:hover {
  //   background-color: rgb(255, 151, 112);
  // }
}

.square0 {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  // background-color: rgb(40,42,54);
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  margin: 2px;
  // display: inline-block;
  color: darken(rgb(56, 97, 140), 20);
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;

  // cursor: pointer;

  // &:hover {
  //   background-color: rgb(255, 149, 0);
  // }
}

.square1 {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  // background-color: rgb(40,42,54);
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  margin: 2px;
  // display: inline-block;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;

  // cursor: pointer;

  // &:hover {
  //   background-color: rgb(255, 149, 0);
  // }
}

.square2 {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  // background-color: rgb(40,42,54);
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  margin: 2px;
  // display: inline-block;
  color: rgb(255, 231, 76);
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;

  // cursor: pointer;

  // &:hover {
  //   background-color: rgb(255, 149, 0);
  // }
}

.square3 {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  // background-color: rgb(40,42,54);
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  margin: 2px;
  // display: inline-block;
  color: rgb(0, 217, 192);
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;
  // font-weight: 500;

  // cursor: pointer;

  // &:hover {
  //   background-color: rgb(255, 149, 0);
  // }
}

.square4 {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  // background-color: rgb(40,42,54);
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  margin: 2px;
  // display: inline-block;
  color: rgb(171, 135, 255);
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;
  // font-weight: 500;

  // cursor: pointer;

  // &:hover {
  //   background-color: rgb(255, 149, 0);
  // }
}

.squareX {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  // background-color: rgb(40,42,54);
  background-color: rgb(255, 114, 159);
  border: 2px solid rgb(37, 199, 240);
  margin: 2px;
  // display: inline-block;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;

  box-shadow: inset 2px 2px 2px 0 lighten($pink, 20), inset -2px -2px 2px 0 darken($pink, 20);

  // cursor: pointer;

  // &:hover {
  //   background-color: rgb(255, 149, 0);
  // }
}



// pink: rgb(255, 0, 195)
// orange: rgb(255, 149, 0)
// yellow: rgb(251, 255, 12)
// green: rgb(1, 255, 1)
// blue: rgb(37, 199, 240)

// light grey: lighten(rgb(66, 69, 84), 10) -> hidden squares
// medium grey: rgb(66, 69, 84) -> revealed squares
// dark grey: rgb(40,42,54)


/* COLOR PALETTE:
  grey-blue: rgb(56, 97, 140)

  purple: rgb(82, 72, 156)
  blue: rgb(37, 199, 240)
  turquoise: rgb(0, 217, 192)
  yellow: rgb(255, 231, 76)
  orange: rgb(255, 151, 112)
  pink: rgb(255, 114, 159)

  pine green: rgb(21, 122, 110)
*/

