@import 'color_palette';


.square {
  width: 4vmin;
  height: 4vmin;
  border-radius: 5px;
  z-index: 1;
};

.hidden {
  background-color: darken(rgb(56, 97, 140), 0);
  box-shadow: inset 2px 2px 2px 0 lighten(rgb(56, 97, 140), 30), inset -2px -2px 2px 0 darken(rgb(56, 97, 140), 30);
  border: 1px solid $blue;
  color: white;

  cursor: pointer;

  &:hover {
    background-color: rgb(255, 151, 112);
  }
}

.flagged {
  background-color: darken(rgb(56, 97, 140), 0);
  box-shadow: inset 2px 2px 2px 0 lighten(rgb(56, 97, 140), 30), inset -2px -2px 2px 0 darken(rgb(56, 97, 140), 30);
  border: 1px solid rgb(37, 199, 240);
  color: rgb(255, 114, 159);

  cursor: pointer;
};

.square0 {
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  color: darken(rgb(56, 97, 140), 20);

};

.square1 {
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  color: white;
};

.square2 {
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  color: rgb(255, 231, 76);
};

.square3 {
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  color: rgb(0, 217, 192);
};

.square4 {
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  color: rgb(171, 135, 255);
};

.square5 {
  background-color: darken(rgb(56, 97, 140), 15);
  border: 2px solid darken(rgb(37, 199, 240), 15);
  color: darken($orange, 10);
};

.squareX {
  background-color: rgb(255, 114, 159);
  border: 2px solid rgb(37, 199, 240);
  color: white;
  box-shadow: inset 2px 2px 2px 0 lighten($pink, 20), inset -2px -2px 2px 0 darken($pink, 20);
};
