$grey-blue: rgb(56, 97, 140);

$dark-purple: rgb(82, 72, 156);
$purple: rgb(171, 135, 255);
$blue: rgb(37, 199, 240);
$darkblue: darken(rgb(37, 199, 240), 15);
$green: rgb(0, 217, 192);
$yellow: rgb(255, 231, 76);
$orange: rgb(255, 151, 112);
$pink: rgb(255, 114, 159);

// rgb(171, 135, 255)