@import 'color_palette';


h3 {
  text-align: center;
  font-size: 10vmin;
  background: linear-gradient(to bottom, $blue, white);
  -webkit-background-clip: text; // for webkit browsers like chrome and safari
  background-clip: text; // standard property for compatibility
  color: transparent;
  margin: 3.5vh;
  margin-top: 2vh;
  z-index: 0;
};

#high-score-level {
  font-size: 5vmin;
  text-align: center;
  color: white;
  margin-bottom: 0;
}

.high-score-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin: auto;
  padding: 4vmin;
  width: max-content;
};

.high-score-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
};

.time,
.place,
.initials {
  font-size: 5vmin;
  text-align: center;
  width: 33%;
  margin: 2vmin;
};

#place1 {
  color: $pink;
};
#place2 {
  color: $orange;
};
#place3 {
  color: $yellow;
};
#place4 {
  color: $green;
};
#place5 {
  color: $blue;
}