// import fonts
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

@import 'color_palette';


input[type='radio'] {
  margin-right: 3%;
}
input[type='radio']:checked {
  accent-color: $green;
  margin-right: 3%;
};

#levels-container {
  position: fixed;
  padding: 3%;
  top: 15vh;
  background-color: rgba($navy, .85);
  box-shadow: inset 2px 2px 2px 0 darken($navy, 20), inset -2px -2px 2px 0 lighten($navy, 20);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  width: 80vmin;
  z-index: 999;
};

.level-row {
  background-color: $purple;
  box-shadow: inset 2px 2px 2px 0 lighten($purple, 20), inset -2px -2px 2px 0 darken($purple, 20);
  color: white;
  margin: 1.25%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  z-index: 999;
};

.level-row > :nth-child(1) {
  background-color: $dark-purple;
  box-shadow: inset 2px 2px 2px 0 lighten($dark-purple, 20), inset 0 -2px 2px 0 darken($dark-purple, 20);
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.level-element {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
};

#level-header {
  color: $blue;
  background-color: $dark-purple;
  box-shadow: inset 2px 2px 2px 0 lighten($dark-purple, 20), inset -2px -2px 2px 0 darken($dark-purple, 20);

};

#beginner {
  color: $yellow;
};

#intermediate {
  color: $orange;
};

#expert {
  color: $pink;
};